header {
    color: white;
    background: #11171d;
    padding-bottom: 0.50rem;
    padding-top: 0.50rem;
    padding-right: 0.50rem;
    padding-left: 0.50rem;
  }

body {
    font-family:  Mono, monospace
}

#div5 {
    float:right;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
} 

#button1s {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  color: black;
  background-color: violet;
  border-radius: 7px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}

#button2s {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  color: black;
  background-color: burlywood;
  border-radius: 7px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}